<h2>
	<%= gravatar_for(@user, :size => 40) %>
	<%= @user.name %>
</h2>

<h4><strong>email</strong> <%= @user.email %> </h4> </br>
<h4><strong>URL</strong> <%= link_to user_path(@user), @user %> </h4> </br>
